<nav>
    <div class="navbar">
        
        <div class="nav-element nav-element-centered">
            <img src="/images/blauwicoonrond.png" alt="Avatar" class="page-avatar">
        </div>
                
        <div class="nav-element">
            <a href="/home">
                <div hover class="nav-button">
                    <div class="buttonicon">
                        <img src="/images/svg/mijnaccount.svg" alt="Mijn account" class="icon">
                    </div>
                    <div class="buttontext">
                        <h3>Mijn account</h3>
                    </div>
                    <div class="buttonicon">
                        <img src="/images/svg/right.svg" alt="open" class="icon">
                    </div>
                </div> 
            </a>
        </div> 

        <div class="nav-element">
            <a href="/gasten">
                <div hover class="nav-button">
                    <div class="buttonicon">
                        <img src="/images/svg/gasten.svg" alt="Gasten" class="icon">
                    </div>
                    <div class="buttontext">
                        <h3>Gasten</h3> 
                    </div>
                    <div class="buttonicon">
                        <img src="/images/svg/right.svg" alt="open" class="icon">
                    </div>
                </div>
            </a>

            <a href="/collegas">
                <div hover class="nav-button">
                    <div class="buttonicon">
                        <img src="/images/svg/job.svg" alt="Collega's" class="icon">
                    </div>
                    <div class="buttontext">
                        <h3>Collega's</h3> 
                    </div>
                    <div class="buttonicon">
                        <img src="/images/svg/right.svg" alt="open" class="icon">
                    </div>
                </div>
            </a>

            <a href="/accountmaken"> 
                <div hover class="nav-button">
                    <div class="buttonicon">
                        <img src="/images/svg/add.svg" alt="Account maken" class="icon">
                    </div>
                    <div class="buttontext">
                        <h3>Account maken</h3>
                    </div>
                    <div class="buttonicon">
                        <img src="/images/svg/right.svg" alt="expand" class="icon">
                    </div>
                </div>
            </a>

            <a href="/stappen">
                <div hover class="nav-button">
                    <div class="buttonicon">
                        <img src="/images/svg/stappen.svg" alt="Stappen" class="icon">
                    </div>
                    <div class="buttontext">
                        <h3>Stappen</h3>
                    </div>
                    <div class="buttonicon">
                        <img src="/images/svg/right.svg" alt="open" class="icon">
                    </div>
                </div>
            </a>

            
            </div> 

            <div class="nav-element">
                <a href='/signout'>
                    <div hover class="nav-button">
                        <div class="buttonicon">
                            <img src="/images/svg/uitloggen.svg" alt="Uitloggen" class="icon">
                        </div>
                        <div class="buttontext">
                            <h3>Uitloggen</h3>
                        </div>
                    </div>
                </a>
            </div> 

            <div class="nav-element nav-element-centered">
                    <img src="/images/logotekst.png" alt="logo" class="avatar">
                </div>

        </div>
    </nav>