<!DOCTYPE html>
<head>
    <title>Account maken</title>
    <link rel="icon" type="image/png"  href="/images/violeticoon_rond.png"/>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
</head>

<body>
    <%- include ('partials/topborder.ejs') %>
    <div class="page-container">
        <%- include ('partials/nav.ejs') %>
        <div class = "content">
            <h1>Dit is de account maken pagina</h1>
            <h2>Account maken gelukt!</h2>
            
            <p>Reeds opgeslagen gasten:</p>
            <ul>
                <% for(var i=0; i < accounts.length; i++){ %>
                    <li><%= accounts[i].item %></li>
                <% } %>
            </ul>
        </div>
    </div>

    <script src="/assets/stappen.js">
    </script> 
</body>
</html>