.login-container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.login-box{
    border: 1px solid #333333;;
    -moz-box-shadow:5px 5px  rgb(218, 224, 228);
    -webkit-box-shadow:5px 5px  rgb(225, 226, 228);
    box-shadow:5px 5px  rgb(218, 218, 218);
    background-color: #fff;
}

